<div class="p-screen p-screen-doctors">
  <p class="a-title-page">Configuración</p>
  <div class="" fxLayout="row">
    <div class="" fxLayout="column" fxFlex="50">
      <mat-form-field appearance="outline">
        <mat-label>Nombre de la clínica</mat-label>
        <input type="text" matInput />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Nombre del dueño de la clínica</mat-label>
        <input type="text" matInput />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Número de whatsapp</mat-label>
        <input type="text" matInput />
      </mat-form-field>
    </div>
  </div>
  <p class="a-title-page">Ingrese los servicios correspondientes</p>
  <div fxLayout="row" fxLayoutAlign="start center" class="mt-16 mb-16">
    <div class="a-chips a-chips--active mr-20">Vacunas</div>
    <div class="a-chips a-chips--inactive mr-20">Esterilizaciones</div>
    <div class="a-chips a-chips--active mr-20">Vitaminas</div>
    <div class="a-chips a-chips--active mr-20">Cirugías</div>
    <div class="a-chips a-chips--active mr-20">Atención en sala</div>
    <div class="a-chips a-chips--inactive mr-20">Atención en casas</div>
  </div>
  <p class="a-title-page">Servicio en sala</p>
  <div fxLayout="row" fxLayoutAlign="start center" class="mt-16">
    <div class="a-chips a-chips--active mr-20">Con reserva</div>
    <div class="a-chips a-chips--inactive">Sin reserva</div>
  </div>
</div>
