.header {
  padding: 5rem 10rem !important;
  justify-content: space-between;
  align-items: center;
  background-color: red;
  &__title {
    color: black;
    font-size: 30;
    font-family: Quicksand;
    font-weight: bold;
  }
}
