.o-container-signup {
  background: $primary-white;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding: 3.2rem;
  &__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: $primary-dark;
  }
  &__subtitle {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $terciary-color;
  }
  &__map {
    background-color: pink;
    height: 230px;
    width: 100%;
    border-radius: 8px;
  }
  &__image-container {
    border: 3px dashed $primary-color;
    height: 300px;
    width: 100%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__image-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: $terciary-color;
  }
  &__big-text {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 76px;
  }
}
