.o-header {
  padding: 2rem 8rem !important;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: $primary-white;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05) !important;
  position: relative;
  z-index: 5;
  // overflow: visible;
}
.o-header--secondary {
  background-color: $primary-white;
  padding: 3.5rem 0rem 2rem 0rem;
}
