.a-big-text {
  font-size: 6.4rem;
  font-weight: 600;
  color: $primary-dark;
}

.a-extra-text-1 {
  font-size: 2.4rem;
  font-weight: 500;
  color: $terciary-color;
  line-height: 30px;
}

.a-subtitle-2 {
  font-size: 3rem;
  font-weight: 700;
  font-family: Nunito;
}
.a-text-primary {
  font-size: 1.4rem;
  font-weight: 500;
  color: $terciary-color;
}

.a-subtext-primary {
  font-size: 1.6rem;
  font-weight: 400;
  color: $primary-dark;
}
.a-subtext-primary--primary {
  font-size: 1.6rem;
  font-weight: 400;
  color: $primary-color;
}

.a-title-page {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 76px;
  letter-spacing: -0.5px;
  color: $primary-dark;
}
.a-subtitle-page {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $terciary-color;
}
