/* basic reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

  /* best practice for inheritance*/
}
/* general configuration */
html {
  /* font-size: 10px; bad practice*/
  font-size: 62.5%;
  font-family: Roboto;

  // this defines what 1rem is !!!
  /* 10px/16px */
}
// p {
//   margin: 0 !important;
//   padding: 0 !important;
// }
body {
  box-sizing: border-box;
  background-color: $background-white;
}
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9d9d9d;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $secondary-color;
}
