$primary-white: #ffffff;
$primary-dark: #000000;
$primary-color--light: #e3f6f5;
$primary-color: #82dfdf;
$secondary-color: #272343;
$background-white: #f9f6f4;
$terciary-color: #667080;
$disabled-color: #dddddd;
