// padding and margins
$spacing: 0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68,
  72, 76, 80; // Modify this to generate your spacing classes
$unit: px; // Modify this to specify your unit eg: em, pt, %.

$directions: (
  l: left,
  t: top,
  r: right,
  b: bottom,
  v: top,
  h: left,
);

@mixin generateSpacing($prop, $short) {
  @each $space in $spacing {
    .#{$short}a-#{$space} {
      #{$prop}: $space + $unit;
    }
    @each $key, $val in $directions {
      .#{$short}#{$key}-#{$space} {
        #{$prop}-#{$val}: $space + $unit + "!important";
        @if $key == v {
          #{$prop}-bottom: $space + $unit;
        }
        @if $key == h {
          #{$prop}-right: $space + $unit;
        }
      }
    }
  }
}
@include generateSpacing(padding, p);
@include generateSpacing(margin, m);

.txt-center {
  text-align: center;
}

.border-horizontal {
  border-top: 1px solid $primary-dark;
  width: 70px;
}
.p-screen {
  padding: 2.4rem 4rem;
}
