.m-link {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2.8rem;
  padding: 13px 20px 13px 20px;
  text-decoration: none;
  background-color: transparent;
  color: $secondary-color;
  &--active {
    background-color: $primary-color;
    color: $primary-white;
    border-radius: 50px;
  }
}
