.m-profile-doctor {
  position: relative;
  width: 180px;
  &__container {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 8px;
    object-fit: cover;
  }
  &__edit-icon {
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 12px;
    color: $primary-white !important;
  }
  &__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
  }
}
