<mat-sidenav-container>
  <mat-sidenav opened mode="side" class="o-sidenav" position="start">
    <app-sidenav></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header class="o-header"></app-header>
    <mat-sidenav-container class="p-all-pages">
      <router-outlet> </router-outlet>
      <mat-sidenav class="o-subsidenav" opened mode="side" position="end">
        <app-subsidenav></app-subsidenav>
      </mat-sidenav>
    </mat-sidenav-container>
  </mat-sidenav-content>
</mat-sidenav-container>
