<div class="sidenav__header">
  <div fxLayout="row" fxLayoutAlign="none center">
    <div class="sidenav__header-logo" fxFlex="none"></div>
    <div class="ml-8 sidenav__header-text-container" fxFlex="100">
      <div class="sidenav__header-title">Clinica</div>
      <div class="sidenav__header-clinicName">Angeles y guardianes</div>
    </div>
  </div>
</div>
<div class="sidenav__body" fxLayout="column">
  <a
    href="#"
    class="m-link m-link--active mb-16 mt-24"
    fxLayout="row"
    fxLayoutAlign="none center"
    ><mat-icon aria-hidden="false" class="mr-8">home</mat-icon> Inicio</a
  >

  <a
    href="#"
    class="m-link m-link--inactive mb-16"
    fxLayout="row"
    fxLayoutAlign="none center"
    ><mat-icon aria-hidden="false" class="mr-8">folder_open</mat-icon
    >Registros</a
  >
  <a
    href="#"
    class="m-link m-link--active mb-16"
    fxLayout="row"
    fxLayoutAlign="none center"
    ><mat-icon aria-hidden="false" class="mr-8">people</mat-icon>Empleados</a
  >
  <a
    href="#"
    class="m-link m-link--inactive mb-16"
    fxLayout="row"
    fxLayoutAlign="none center"
    ><mat-icon aria-hidden="false" class="mr-8">settings</mat-icon
    >Configuración</a
  >
</div>
