<div class="o-sidenav__header">
  <div fxLayout="row" fxLayoutAlign="none center">
    <img
      class="o-sidenav__header-logo"
      fxFlex="none"
      src="https://images.unsplash.com/photo-1599305445671-ac291c95aaa9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80"
      alt=""
    />
    <div class="ml-8 o-sidenav__header-text-container" fxFlex="100">
      <div class="o-sidenav__header-title">Clinica</div>
      <div class="o-sidenav__header-clinicName">Angeles y guardianes</div>
    </div>
  </div>
</div>
<div class="o-sidenav__body" fxLayout="column">
  <a
    routerLink="/home-page"
    routerLinkActive="m-link--active"
    class="m-link mb-16 mt-24"
    fxLayout="row"
    fxLayoutAlign="none center"
    ><mat-icon aria-hidden="false" class="mr-8">home</mat-icon> Inicio</a
  >

  <a
    routerLink="/records"
    routerLinkActive="m-link--active"
    class="m-link m-link--inactive mb-16"
    fxLayout="row"
    fxLayoutAlign="none center"
    ><mat-icon aria-hidden="false" class="mr-8">folder_open</mat-icon
    >Registros</a
  >
  <a
    routerLink="/doctors"
    routerLinkActive="m-link--active"
    class="m-link mb-16"
    fxLayout="row"
    fxLayoutAlign="none center"
    ><mat-icon aria-hidden="false" class="mr-8">people</mat-icon>Doctores</a
  >
  <a
    routerLink="/settings"
    routerLinkActive="m-link--active"
    class="m-link mb-16"
    fxLayout="row"
    fxLayoutAlign="none center"
    ><mat-icon aria-hidden="false" class="mr-8">settings</mat-icon
    >Configuración</a
  >
</div>
