<div class="p-screen p-screen-doctors">
  <p class="a-title-page">Agregar doctor</p>
  <div class="o-form-doctor">
    <div fxLayout="row" fxLayoutAlign="center start">
      <div class="" fxFlex="50" fxLayout="column">
        <div class="o-form-doctor__titles mb-24">
          Datos del médico veterinario
        </div>
        <mat-form-field fxFlex="100" appearance="outline">
          <mat-label>Nombre</mat-label>
          <input type="text" matInput />
          <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
        </mat-form-field>
        <mat-form-field fxFlex="100" appearance="outline">
          <mat-label>Apellidos</mat-label>
          <input type="text" matInput />
          <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
        </mat-form-field>
        <mat-form-field fxFlex="100" appearance="outline">
          <mat-label>Fecha de comienzo de carrera</mat-label>
          <input type="text" matInput />
          <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
        </mat-form-field>
        <mat-form-field fxFlex="100" appearance="outline">
          <mat-label>Biografia</mat-label>
          <input type="text" matInput />
          <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
        </mat-form-field>
        <mat-form-field fxFlex="100" appearance="outline">
          <mat-label>Matricula</mat-label>
          <input type="text" matInput />
          <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
        </mat-form-field>
      </div>
      <div class="ml-40" fxFlex="50" fxLayout="column">
        <div class="o-form-doctor__titles">Imagen de perfil</div>
        <div class="o-form-doctor__subtitle mt-8">
          Actualiza la imagen del perfil del veterinario
        </div>
        <div class="o-form-doctor__insert-photo mt-24">
          <img [src]="imageSrc" />
        </div>
        <!-- <img
          src="https://images.unsplash.com/photo-1612349317150-e413f6a5b16d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
          alt=""
          class="o-form-doctor__photo mt-24"
        /> -->
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <button class="m-button m-button--primary mt-32">Guardar</button>
    </div>
  </div>
</div>
