<p class="a-big-text txt-center">VETMED</p>
<div class="mt-32">
  <p class="a-extra-text-1 txt-center">
    Es una aplicación para ti y para tu mascota, para tener toda la información
    de tu mascota a la mano.
  </p>
</div>
<div class="" fxLayout="row" fxLayoutAlign="space-evenly center">
  <button class="m-button m-button--primary mt-40" (click)="goto('login')">
    Ingresar
  </button>
  <button class="m-button m-button--secondary mt-24" (click)="goto('signup')">
    Crear cuenta
  </button>
</div>
