<div
  class="o-header--secondary stepper"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div
    class="o-stepper__container"
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <div class="o-stepper__state o-stepper__state--normal">
      <mat-icon class="o-stepper__icon--normal">fiber_manual_record</mat-icon>
    </div>
    <div class="o-stepper__line o-stepper__line--normal"></div>
    <div class="o-stepper__state o-stepper__state--default"></div>
    <div class="o-stepper__line o-stepper__line--normal"></div>
    <div class="o-stepper__state o-stepper__state--checked">
      <mat-icon class="o-stepper__icon--checked">check</mat-icon>
    </div>
  </div>
  <p class="o-stepper__text">Ingrese los datos de la su clínica</p>
</div>
