<img [src]="wavetopSrc" class="p-welcome-waves--top" />
<div fxlayout="row" fxLayoutAlign="space-evenly center" style="height: 100vh">
  <!-- <app-welcome-component fxLayout="column" fxFlex="25"></app-welcome-component> -->
  <!-- <app-login-component fxLayout="column" fxFlex="25"></app-login-component> -->
  <app-signup-component fxLayout="column" fxFlex="25"></app-signup-component>

  <div fxLayout="column" fxFlex="35">
    <img [src]="imageSrc" />
  </div>
</div>
<img [src]="wavebottomSrc" class="p-welcome-waves--bottom" />
