<img [src]="wavetopSrc" class="p-welcome-waves--top" />
<div fxlayout="row" fxLayoutAlign="space-evenly center" style="height: 90vh">
  <div fxLayout="column" fxFlex="25">
    <p class="big-text txt-center">VETMED</p>
    <p class="extra-text-1 mt-32 txt-center">
      Es una aplicación para ti y para tu mascota, para tener toda la
      información de tu mascota a la mano.
    </p>
    <button class="m-button m-button--primary mt-40">Ingresar</button>
    <button class="m-button m-button--secondary mt-24">Crear cuenta</button>
  </div>
  <div fxLayout="column" fxFlex="35">
    <img [src]="imageSrc" />
  </div>
</div>
<img [src]="wavebottomSrc" class="p-welcome-waves--bottom" />
