<div class="mt-80" fxLayout="row" fxLayoutAlign="space-evenly center">
  <div class="o-container-signup" fxFlex="30">
    <div class="o-container-signup__title">Datos de la clínica</div>
    <div class="o-container-signup__subtitle mt-2">
      Ingresa los datos de tu clínica para que todos los clientes de la
      plataforma puedan contactarte!
    </div>
    <div class="o-container-signup__inputs mt-2"></div>
  </div>
  <div class="o-container-signup" fxFlex="30">
    <div class="o-container-signup__title mt-2">Ubicación de la clínica</div>
    <div class="o-container-signup__subtitle mt-2">
      Ingresa la ubicación exacta de tu clínica veterinaria, asi los clientes
      podran encontrarte!
    </div>
    <div class="o-container-signup__map"></div>
  </div>
</div>
